.widget {
  background-color: #464b5e;
  margin-bottom: 4.8rem;
}
.widget-header {
  background-color: #3c4251;
  color: #a5afd7;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  h3{
    margin: 0;
  }
}

.widget-message {
  padding: 3.2rem;
  display: flex;
  justify-content: center;
  color: #a5afd7;
  border-bottom: #5B6178 solid 1px;
  margin: 0;
}
