html {
  font-size: 62.5%;
}
body {
  font-family: Century Gothic;
  font-size: 1.6rem;
  background-color: #333745;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

::placeholder {
  font-family: Century Gothic;
}